#!/bin/bash
export BASE64_CSR=$(cat /tmp/jenkins.csr | base64 | tr -d '\n')
cat /tmp/csr.yaml | envsubst | kubectl apply -f -
kubectl certificate approve mycsr
kubectl get csr mycsr -o jsonpath='{.status.certificate}' | base64 --decode > jenkins.crt
kubectl apply -f /tmp/namespace.yaml
kubectl apply -f /tmp/role.yaml
kubectl apply -f /tmp/role-binding.yaml
export USER="jenkins"
export CLUSTER_NAME=$(kubectl config view --minify -o jsonpath={.current-context})
export CLIENT_CERTIFICATE_DATA=$(kubectl get csr mycsr -o jsonpath='{.status.certificate}')
export CLUSTER_CA=$(kubectl config view --raw -o json | jq -r '.clusters[0].cluster."certificate-authority-data"')
export CLUSTER_ENDPOINT=$(kubectl config view --raw -o json | jq -r '.clusters[0].cluster."server"')
cat  /tmp/kubeconfig.tpl | envsubst > /tmp/kubeconfig
